* {
    margin: 0;
    padding: 0;
    font-family: Roboto;

}

.inicial {
    width: 960px;
    margin: 0 auto;

}

.titulo1 {
text-align: center;
padding: 50px 0;
font-weight: 800;
font-size: x-large;
}

.inicial .titulo2 {
text-align: center;
padding-bottom: 25px;
}

.parag {
    display: flex;
    background: floralwhite;
    min-height: 200px;
    font-size: larger;
    margin-bottom: 25px;
}

.parag p {
    margin: 20px;
    padding-left: 20px;
}

.parag p:nth-child(2){
    border-left: 4px solid;
}
.parag p:nth-child(3){
    border-left: 4px solid;
}

.secundaria {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2 1 300px;
    background: ghostwhite;
    margin-top: 45px;
}

.secundaria .titulo2{
    text-align: center;
    margin-bottom: 25px;
}

.subtit p {
text-align: center;
margin-bottom: 25px;
}

.secundaria li {
    margin-bottom: 25px;
    text-align: center;

}

.invest {
    width: 960px;
    margin: 0 auto;
    margin-top: 25px;
}

.invest .titulo2 {
    text-align: center;
    margin-bottom: 25px;
}

.invest img {
    margin-bottom: 25px;
}

.depoi1 {
    width: 960px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 25px;
}

.depoi-titulo2 {
    text-align: center;
    margin-bottom: 25px;
}

.depoi p{
    margin: 20px;
}
