* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav {
    border: 1px solid black;
    height: 150px;
    width: 100%;
    background-image: linear-gradient(rgb(106, 79, 204),
     rgba(106, 79, 204, 0.8));
}
ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
li img {
    border-radius: 60px;
    height: 100px;
    width: 100px;
}
ul li a{
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.barradepesquisa input {
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    background-color: white;
    color: grey;
}
footer{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    background-image: linear-gradient(rgb(106, 79, 204, 0.8),
     rgba(106, 79, 204, 1));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
}
.contatofooter {
    padding-top: 30px;
    width: 33%;
    color: white;
    font-size: small;
    text-align: center;
}
.logofooter{
    width: 30%;
}
.logofooter img {
    width: 100px;
    height: 100px;
    border-radius: 80px;
}
.sociaisfooter {
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: center;
    align-items: center;
}
.sociaisfooter {
    display: flex;
    flex-direction: row;
    width: 10%;
}
.sociaisfooter a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}
.sociaisfooter a img{
    height: 20px;
}
